body{
  margin: 0 auto;
  width: 1200px;
  max-width: 1200px;
}

.regist-main{
  width: 300px;
  min-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regist-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regist-form input{
  margin-bottom: 10px;
}